FINAL_5WF_Inventory_Alerts.json
{
  "name": "FINAL_5WF_Inventory_Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "20d3adba-a289-4e04-bff1-c211d911e9f5",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2848,
        2576
      ]
    },
    {
      "parameters": {
        "url": "https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/businesses?status=eq.active&select=business_id,business_name,telegram_chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "54ad1e78-c8cb-4ae9-aa5a-893dbb4a801e",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        2576
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\n// Single object ya array dono handle karo\nlet businesses = [];\nif (Array.isArray(raw)) {\n  businesses = raw;\n} else if (raw.body && Array.isArray(raw.body)) {\n  businesses = raw.body;\n} else if (raw.business_id) {\n  businesses = [raw]; // Single object\n}\n\nif (businesses.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn businesses.map(biz => ({ json: biz }));"
      },
      "id": "647c92d1-3914-45e1-aaa0-9516d0df4a22",
      "name": "Parse Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        2576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ce1bd37-47c2-47aa-b329-83db1a695d50",
      "name": "Any Businesses?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        2576
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { stopped: true } }];"
      },
      "id": "656faaea-ce05-4077-85ae-7f3b05c67544",
      "name": "Stop No Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2480
      ]
    },
    {
      "parameters": {
        "jsCode": "const biz = $input.first().json;\nreturn [{ json: {\n  business_id: biz.business_id,\n  business_name: biz.business_name,\n  telegram_chat_id: biz.telegram_chat_id\n} }];"
      },
      "id": "d1b9a1c5-41a0-44b2-9e8d-9d3c5c7753ad",
      "name": "Prepare Business Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2672
      ]
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/woocommerce_products?business_id=eq.{{ $json.business_id }}&stock_status=eq.lowstock&select=wc_product_id,stock_quantity,stock_status,product_data",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8cd87801-c0e0-4c96-9ca7-f3000164c8f6",
      "name": "Fetch Low Stock from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        2672
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/woocommerce_products?business_id=eq.{{ $('Prepare Business Data').first().json.business_id }}&stock_status=eq.outstock&select=wc_product_id,stock_quantity,stock_status,product_data",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "38c7da1f-0fb8-4f0d-8396-d788fcd13a3b",
      "name": "Fetch Out of Stock from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4192,
        2672
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const biz = $('Prepare Business Data').first().json;\n\n// All items from both nodes\nconst outItems = $('Fetch Out of Stock from Supabase').all().map(i => i.json);\nconst lowItems = $('Fetch Low Stock from Supabase').all().map(i => i.json);\n\nfunction parseItems(items, status) {\n  const seen = new Set();\n  const result = [];\n  items.forEach(p => {\n    if (!p.wc_product_id || seen.has(p.wc_product_id)) return;\n    seen.add(p.wc_product_id);\n    let name = `Product #${p.wc_product_id}`;\n    try {\n      const pd = typeof p.product_data === 'string' ? JSON.parse(p.product_data) : p.product_data;\n      if (pd?.name) name = pd.name;\n    } catch(e) {}\n    result.push({\n      product_id: p.wc_product_id,\n      product_name: name,\n      stock_quantity: p.stock_quantity || 0,\n      status\n    });\n  });\n  return result;\n}\n\nconst outOfStock = parseItems(outItems, 'out_of_stock');\nconst lowStock = parseItems(lowItems, 'low');\nconst allProducts = [...outOfStock, ...lowStock];\n\nif (allProducts.length === 0) {\n  return [{ json: { skip: true, reason: 'No products found', business_id: biz.business_id } }];\n}\n\nreturn [{ json: { ...biz, products: allProducts, lowStockCount: lowStock.length, outOfStockCount: outOfStock.length, totalCount: allProducts.length } }];"
      },
      "id": "f3639780-357c-46a0-ab47-db6bce5278d5",
      "name": "Process Stock Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        2672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-02",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "746c0992-dfe6-4c27-aa0a-237e488f8a13",
      "name": "Any Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4640,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { stopped: true, reason: 'No low stock' } }];"
      },
      "id": "5e18535d-b110-4f12-8821-99723be3e542",
      "name": "Stop No Low Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5536,
        2576
      ]
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/inventory_alerts?business_id=eq.{{ $json.business_id }}&alert_date=eq.{{ new Date().toISOString().split('T')[0] }}&select=product_id,telegram_sent,email_sent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "c334618d-f741-4407-abe4-c9dc4905588f",
      "name": "Check Already Notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4864,
        2752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $('Process Stock Data').first().json;\nconst raw = $input.first().json;\nconst alreadyNotified = raw.body ? raw.body : (Array.isArray(raw) ? raw : []);\nconst notifiedIds = new Set(alreadyNotified.filter(a => a.telegram_sent).map(a => a.product_id));\nconst newProducts = d.products.filter(p => !notifiedIds.has(p.product_id));\nif (newProducts.length === 0) {\n  return [{ json: { skip: true, reason: 'All already notified today' } }];\n}\nreturn [{ json: { ...d, products: newProducts } }];"
      },
      "id": "18e46ab1-0543-4075-b9ea-f586a66c528d",
      "name": "Filter New Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        2752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-03",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "977e0bf1-6f9b-40ce-a230-a89d63746d37",
      "name": "New Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5312,
        2752
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst today = new Date().toISOString().split('T')[0];\n\nlet msg = `⚠️ *Inventory Alert!*\\n`;\nmsg += `🏢 ${d.business_name}\\n`;\nmsg += `📅 ${today}\\n`;\nmsg += `━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nconst outOfStock = d.products.filter(p => p.status === 'out_of_stock');\nconst lowStock = d.products.filter(p => p.status === 'low');\n\nif (outOfStock.length > 0) {\n  msg += `🔴 *Out of Stock (${outOfStock.length})*\\n`;\n  outOfStock.forEach((p, i) => { msg += `${i+1}. ${p.product_name} — 0 units\\n`; });\n  msg += `\\n`;\n}\nif (lowStock.length > 0) {\n  msg += `🟡 *Low Stock (${lowStock.length})*\\n`;\n  lowStock.forEach((p, i) => { msg += `${i+1}. ${p.product_name} — ${p.stock_quantity} units\\n`; });\n  msg += `\\n`;\n}\n\nmsg += `━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `📧 Supplier ko email bhejna hai?\\n`;\nmsg += `Reply karo: *SEND EMAIL* ✅\\n\\n_BizFlow AI_`;\n\nif (msg.length > 4000) msg = msg.substring(0, 4000) + '...';\nreturn [{ json: { ...d, alertMessage: msg } }];"
      },
      "id": "bcae74e6-542a-411b-b907-e2790929f2ac",
      "name": "Build Telegram Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5536,
        2800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.alertMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8b70b473-9d07-45a3-9736-1517adc64a55",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5760,
        2800
      ],
      "webhookId": "33a90c90-6ea4-48ec-a288-efa7039ce42d",
      "credentials": {
        "telegramApi": {
          "id": "bA6IACUtHcixe0n1",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $('Build Telegram Alert').first().json;\nconst today = new Date().toISOString().split('T')[0];\nconst batch = d.products.map(p => ({\n  business_id: d.business_id,\n  product_id: p.product_id,\n  product_name: p.product_name,\n  stock_quantity: p.stock_quantity,\n  status: p.status,\n  threshold: 10,\n  telegram_sent: true,\n  email_sent: false,\n  email_confirmed: false,\n  alert_date: today\n}));\nreturn [{ json: { batch, business_id: d.business_id, products: d.products, telegram_chat_id: d.telegram_chat_id, business_name: d.business_name } }];"
      },
      "id": "62beddad-cc74-47e8-82e5-603b93385d47",
      "name": "Prepare Alert Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5984,
        2800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/inventory_alerts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      },
      "id": "9dad50aa-a755-4716-90ed-b819da99b8a0",
      "name": "Log Alert to Supabase1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        2784
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Businesses": {
      "main": [
        [
          {
            "node": "Parse Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Businesses": {
      "main": [
        [
          {
            "node": "Any Businesses?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Businesses?": {
      "main": [
        [
          {
            "node": "Stop No Businesses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Business Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Business Data": {
      "main": [
        [
          {
            "node": "Fetch Low Stock from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Low Stock from Supabase": {
      "main": [
        [
          {
            "node": "Fetch Out of Stock from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Out of Stock from Supabase": {
      "main": [
        [
          {
            "node": "Process Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Stock Data": {
      "main": [
        [
          {
            "node": "Any Low Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Low Stock?": {
      "main": [
        [
          {
            "node": "Stop No Low Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Already Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Notified": {
      "main": [
        [
          {
            "node": "Filter New Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Alerts": {
      "main": [
        [
          {
            "node": "New Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Alerts?": {
      "main": [
        [
          {
            "node": "Stop No Low Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Alert": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Prepare Alert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Log": {
      "main": [
        [
          {
            "node": "Log Alert to Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "645af322-e1ee-46df-8793-d07477cb81a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3ea4b3b1af91f7cdcb29d6c1b5ed067ec80771b0665b888848e0d76a943f98c"
  },
  "id": "6KME66RRVXnVhEBXTcfLt",
  "tags": []
}