FINAL_4WF_CRM Lead Capture.json
{
  "name": "FINAL_4WF_CRM Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5fcd53ec-5145-4367-865e-73330e8f5183",
      "name": "Lead Capture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1216,
        1712
      ],
      "webhookId": "lead-capture"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst isWooOrder = !!(body.id && body.billing && body.line_items);\n\nlet lead = {};\n\nif (isWooOrder) {\n  lead = {\n    source:        'woocommerce_order',\n    wc_order_id:   body.id,\n    name:          ((body.billing.first_name || '') + ' ' + (body.billing.last_name || '')).trim() || 'Unknown',\n    email:         body.billing.email || null,\n    phone:         body.billing.phone || null,\n    city:          body.billing.city || null,\n    country:       body.billing.country || null,\n    order_total:   parseFloat(body.total) || 0,\n    currency:      body.currency || 'PKR',\n    products:      (body.line_items || []).map(i => i.name).join(', '),\n    webhook_secret: $input.first().json.headers?.['x-wc-webhook-secret'] || body.webhook_secret || null,\n    raw_payload:   body\n  };\n} else {\n  lead = {\n    source:      body.source || 'manual',\n    wc_order_id: null,\n    name:        body.name || body.full_name || 'Unknown',\n    email:       body.email || null,\n    phone:       body.phone || null,\n    city:        body.city || null,\n    country:     body.country || 'PK',\n    order_total: parseFloat(body.order_total || body.budget || 0),\n    currency:    body.currency || 'PKR',\n    products:    body.products || body.interested_in || null,\n    webhook_secret: $input.first().json.headers?.['x-wc-webhook-secret'] || body.webhook_secret || null,\n    raw_payload: body\n  };\n}\n\nif (!lead.email && !lead.phone) {\n  throw new Error('Lead must have email or phone');\n}\n\nreturn [{ json: { ...lead, receivedAt: new Date().toISOString() } }];"
      },
      "id": "29f37c0b-a0c1-4e7e-bdf3-e395fca3739c",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1712
      ]
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/api_credentials?webhook_secret=eq.{{ $json.webhook_secret }}&select=business_id,is_active",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a9cc0fd5-cddd-40e1-967d-e70b610d4e65",
      "name": "Lookup Business by Secret",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Parse Lead Data').first().json;\nconst raw  = $input.first().json;\n\n// Output direct object hai ya array\nlet business_id = null;\n\nif (raw.business_id && raw.is_active) {\n  // Direct object\n  business_id = raw.business_id;\n} else if (Array.isArray(raw) && raw[0]?.business_id) {\n  // Array\n  business_id = raw[0].business_id;\n} else if (Array.isArray(raw.body) && raw.body[0]?.business_id) {\n  // Nested body\n  business_id = raw.body[0].business_id;\n}\n\nif (!business_id) {\n  throw new Error('Business not found for this webhook_secret');\n}\n\nreturn [{ json: { ...lead, business_id } }];"
      },
      "id": "529803ea-b6e3-454d-8b64-422ce6dcd905",
      "name": "Extract Business ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "biz-found-01",
              "leftValue": "={{ $json.business_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3868345d-37db-4d66-ba1b-abc0321a8d92",
      "name": "Business Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2176,
        1712
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Business not found or inactive\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "568aacf7-fca9-43c9-8e5d-fc55c4b4461a",
      "name": "Return 401 Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2176,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// AI Lead Scoring — rule based\n// Score: 0-100\nlet score = 50; // base\nconst reasons = [];\n\n// Email present — +10\nif (d.email) { score += 10; reasons.push('Has email'); }\n\n// Phone present — +10\nif (d.phone) { score += 10; reasons.push('Has phone'); }\n\n// High order value\nif (d.order_total >= 5000) { score += 20; reasons.push('High order value'); }\nelse if (d.order_total >= 1000) { score += 10; reasons.push('Medium order value'); }\nelse if (d.order_total > 0) { score += 5; reasons.push('Has order value'); }\n\n// Source bonus\nif (d.source === 'woocommerce_order') { score += 15; reasons.push('WooCommerce order'); }\n\n// Cap at 100\nscore = Math.min(score, 100);\n\n// Grade\nlet grade, priority;\nif (score >= 80)      { grade = 'A'; priority = 'high'; }\nelse if (score >= 60) { grade = 'B'; priority = 'medium'; }\nelse                  { grade = 'C'; priority = 'low'; }\n\nreturn [{\n  json: {\n    ...d,\n    lead_score:    score,\n    lead_grade:    grade,\n    lead_priority: priority,\n    score_reasons: reasons\n  }\n}];"
      },
      "id": "38bc3277-dd18-4c8d-95a3-2c4a3cf9afee",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        1712
      ]
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/customers?business_id=eq.{{ $json.business_id }}&email=eq.{{ $json.email }}&select=id,email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "0d44e3a1-717f-46d0-9018-61c4944ece0d",
      "name": "Check Existing Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        1712
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const scored  = $('Score Lead').first().json;\nconst raw     = $input.first().json;\nconst records = Array.isArray(raw) ? raw : (Array.isArray(raw.body) ? raw.body : []);\n\n// Agar customers table mein hai — already customer hai\nconst isExistingCustomer = records.length > 0;\n\nreturn [{ json: { ...scored, isExistingCustomer } }];"
      },
      "id": "f2311ae0-f92a-4167-855c-a931814bb69b",
      "name": "Check If Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "customer-cond-01",
              "leftValue": "={{ $json.isExistingCustomer }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ae2941a-0b6f-4491-8904-b08a49edb29d",
      "name": "Is Existing Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3136,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, skipped: true, reason: 'Already a customer' } }];"
      },
      "id": "29e06f0d-1ea2-4820-8f5a-05734d5d12b3",
      "name": "Skip Existing Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, source: $json.source, wc_order_id: $json.wc_order_id, name: $json.name, email: $json.email, phone: $json.phone, city: $json.city, country: $json.country, order_total: $json.order_total, currency: $json.currency, products_interested: $json.products, lead_score: $json.lead_score, lead_grade: $json.lead_grade, lead_priority: $json.lead_priority, score_reasons: $json.score_reasons, status: 'new', created_at: new Date().toISOString(), updated_at: new Date().toISOString(), last_activity: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "c03c4f97-7aed-4bd4-95c0-524bf94c042d",
      "name": "Insert New Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        1824
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $('Check If Customer').first().json;\nconst raw = $input.first().json;\n\nconst priority = d.lead_priority;\nconst score = d.lead_score;\n\nconst emoji = priority === 'high' ? '🔴' : (priority === 'medium' ? '🟡' : '🟢');\n\nlet msg = `${emoji} *New Lead Captured!*\\n\\n`;\nmsg += `👤 *Name:* ${d.name}\\n`;\nif (d.email)    msg += `📧 *Email:* ${d.email}\\n`;\nif (d.phone)    msg += `📞 *Phone:* ${d.phone}\\n`;\nif (d.city)     msg += `📍 *City:* ${d.city}\\n`;\nif (d.products) msg += `🛍️ *Interested in:* ${d.products}\\n`;\nif (d.order_total > 0) msg += `💰 *Order Value:* ${d.currency} ${d.order_total.toLocaleString()}\\n`;\nmsg += `\\n`;\nmsg += `📊 *Score:* ${score}/100 (Grade ${d.lead_grade})\\n`;\nmsg += `⚡ *Priority:* ${priority.toUpperCase()}\\n`;\nmsg += `📥 *Source:* ${d.source}\\n`;\nmsg += `\\n_BizFlow CRM_`;\n\nreturn [{ json: { ...d, notificationMsg: msg, isNew: true } }];"
      },
      "id": "bdbfc20d-5313-4683-9f5f-4fd05bddde3b",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        1712
      ]
    },
    {
      "parameters": {
        "url": "=https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/businesses?business_id=eq.{{ $json.business_id }}&select=telegram_chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5fe5e83e-51d6-40a1-aa3c-dd3302e41115",
      "name": "Get Business Telegram ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const notif = $('Build Notification').first().json;\nconst raw   = $input.first().json;\nconst biz   = Array.isArray(raw) ? raw[0] : (Array.isArray(raw.body) ? raw.body[0] : raw);\n\n// telegram_chat_id — business table se, ya lead payload se\nconst chatId = biz?.telegram_chat_id \n  || notif?.telegram_chat_id \n  || notif?.raw_payload?.telegram_chat_id \n  || null;\n\nreturn [{ json: { ...notif, telegram_chat_id: chatId ? String(chatId) : null } }];"
      },
      "id": "4f5cbebc-2089-41d0-a381-732a62d3e670",
      "name": "Merge Telegram ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "tg-cond-01",
              "leftValue": "={{ $json.telegram_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "062da40f-eb8b-4081-8250-f854dfc5f556",
      "name": "Has Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4384,
        1712
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.notificationMsg }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f364c121-1469-41a9-a4f9-39f7c3c1fd59",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4624,
        1584
      ],
      "webhookId": "519c7b77-616a-4d9c-a59d-a7222e039ad7",
      "credentials": {
        "telegramApi": {
          "id": "bA6IACUtHcixe0n1",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, telegram_skipped: true } }];"
      },
      "id": "7018e160-ade7-42d4-bd52-abe1e310943e",
      "name": "Skip No Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1824
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: $json.isNew ? 'Lead captured' : 'Lead updated', lead_score: $json.lead_score, lead_grade: $json.lead_grade, priority: $json.lead_priority }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "01e74c32-636d-42af-8d73-94f945a66e0a",
      "name": "Return 200 Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4864,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Check If Customer').first().json;\nconst raw = $input.first().json;\nconst saved = Array.isArray(raw) ? raw[0] : (Array.isArray(raw.body) ? raw.body[0] : raw);\n\nconst lead_id = saved?.lead_id || null;\n\nreturn [{\n  json: {\n    ...d,\n    lead_id,\n    activity: {\n      business_id:   d.business_id,\n      lead_id:       lead_id,\n      action:        'created',\n      lead_score:    d.lead_score,\n      lead_grade:    d.lead_grade,\n      lead_priority: d.lead_priority,\n      source:        d.source,\n      order_total:   d.order_total,\n      note:          `Lead created via ${d.source}. Score: ${d.lead_score}/100 (${d.lead_grade})`,\n      created_at:    new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "6ed507cd-94c7-47b2-9b83-d31f31360680",
      "name": "Prepare Activity Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibzlykqguiqbwvkbqrau.supabase.co/rest/v1/lead_activities",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.activity) }}",
        "options": {}
      },
      "id": "655ebf3a-3d62-44b9-a1ff-f62d2a8d5d3e",
      "name": "Log Lead Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        1936
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f4s3Sbni1QX46Qk1",
          "name": "Supabase account 6"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Capture Webhook": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Lookup Business by Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Business by Secret": {
      "main": [
        [
          {
            "node": "Extract Business ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Business ID": {
      "main": [
        [
          {
            "node": "Business Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Found?": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 401 Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Lead": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Activity Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification": {
      "main": [
        [
          {
            "node": "Get Business Telegram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business Telegram ID": {
      "main": [
        [
          {
            "node": "Merge Telegram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Telegram ID": {
      "main": [
        [
          {
            "node": "Has Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Telegram?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip No Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Return 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip No Telegram": {
      "main": [
        [
          {
            "node": "Return 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Activity Log": {
      "main": [
        [
          {
            "node": "Log Lead Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Existing Customer?": {
      "main": [
        [
          {
            "node": "Skip Existing Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Existing Customer": {
      "main": [
        [
          {
            "node": "Return 200 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Check Existing Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Customer": {
      "main": [
        [
          {
            "node": "Check If Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Customer": {
      "main": [
        [
          {
            "node": "Is Existing Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4315f17f-332b-474e-9302-e981483743b8",
  "meta": {
    "instanceId": "f3ea4b3b1af91f7cdcb29d6c1b5ed067ec80771b0665b888848e0d76a943f98c"
  },
  "id": "1_3JvmkS_3vI087RYdpni",
  "tags": []
}